<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>商品信息</th>
          <th>单价</th>
          <th>数量</th>
          <th>小计</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item|  %>
          <tr>
            <td>
              <%= link_to product_path(cart_item.product) do %>
              <%= image_tag cart_item.product.avatar.mini.url %>
              <% end %>
              <%= cart_item.product.title %>
            </td>
            <td>
              ￥
              <%= cart_item.product.price %>
            </td>
            <td>
              <%= cart_item.quantity %>
            </td>
            <td>
              ￥
              <%= cart_item.quantity * cart_item.product.price %>
            </td>
            <td>
              <%= link_to "移入收藏夹" %><br>
              <%= link_to "删除", cart_item_path(cart_item.id), method: :delete %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <hr>
    <div class="row">
      <%= link_to "一键清空", cart_path(current_cart), method: :delete, class:"btn btn-danger" %>
      <div class="pull-right">
        <span class="text-muted">应付总额: ￥
          <%= current_cart.total_price %>
        </span>
        <%= link_to "下单", "#", class:"btn btn-info " %>
      </div>
    </div>
    <hr>
  </div>
</div>
