<div class="container">
  <div class="row">
    <h4>商品详情展示</h4>
    <%= image_tag @product.avatar.thumb.url %>
    <%= @product.title %>
    <%= @product.description %>
    <%= @product.price %>
    <%= @product.repertory %>

  </div>

</div>
