<div id="product_show" class="container">
  <div class="row">
    <div class="content-left col-md-5">
      <%= image_tag @product.avatar.url.to_s %>
    </div>
    <div class="content-right col-md-7">
      <p><%= @product.title %></p>
      <p>活动价 ￥
        <%= @product.price %></p>
      <p>数量
        <%= @product.repertory %></p>
      <div class="btns">
        <% if @product.repertory != 0 %>
        <button type="button" class="btn btn-default btn-lg">立即购买</button>
        <%= link_to "加入购物车", add_to_cart_product_path(@product), method: :post, class:"btn btn-warning btn-lg" %>
        <% else %>
        <span class="text-danger">暂无库存</span>
        <% end %>
        <div class="collectZone">
          <div class="collectZone-top">
            <i class="fa fa-star"></i>
          </div>
          <div class="collectZone-bottom">
            <span>收藏</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
